<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HungAr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="HungAr, is an easiest way to find your favorite restaurants around you. It updates the restaurant list based on your location, cuisines in your profile ..." />
    <meta property="og:title" content="HungAr" />
    <meta property="og:description"
        content="HungAr, is an easiest way to find your favorite restaurants around you. It updates the restaurant list based on your location, cuisines in your profile ..." />
    <meta property="og:url" content="https://hunger-apps.dummy.com" />
    <meta property="og:image" content="./images/design/favicon-32x32.png" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="HungAr" />
    <meta name="twitter:image:alt" content="HungAr" />

    <meta name="theme-color" content="#726a95" />
    <link rel="apple-touch-icon" href="./images/design/apple-touch-icon.png" />
    <link rel="manifest" href="./site.webmanifest" />
    <link rel="icon" href="./images/design/favicon-16x16.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header class="header" id="header">
        <div class="header__inner">
            <img class="header__logo" src="./images/design/favicon-32x32.png" alt="search restaurant you need" />
            <h1>
                HungAr
            </h1>
            <a href="#" class="header__menu" id="menu">☰</a>
        </div>
    </header>
    <nav class="nav" id="drawer">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/">Home</a>
            </li>
            <li class="nav__item">
                <a href="#">Favorite</a>
            </li>
            <li class="nav__item">
                <a href="https://github.com/rashiop" target="_blank">About us</a>
            </li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__image"></div>
        <div class="hero__inner">
            <h1>The easiest way to find your favorite restaurants around you. It updates the restaurant list based on your location, cuisines in your profile ...</h1>
            <button class="hero__button">Learn more</button>
        </div>
    </div>
    <main>
        <section class="content" id="content">
            <h1 class="content__title">Explore Restaurant</h1>
            <!-- START: restaurants -->
            <restaurant-list></restaurant-list>
            <!-- END: restaurants -->
        </section>
    </main>
    <a href="#header">
        <img src="./images/design/back-to-top.png" alt="back to top" id="back-to-top" />
    </a>
    <footer class="footer">
        Copyright © 2021 - HungAr
    </footer>
</body>

</html>