@import url('./base/theme.scss');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    color: var(--font-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.header {
    background-color: var(--primary-color);
    height: 80px;
    &__inner {
        width: 100%;
        display: inline-flex;
        padding: 1rem 0.5rem;
    }

    &__logo {
        width: 32px;
        height: 32px;
    }

    &__menu {
        font-size: 32px;
        color: var(--font-color);
        text-decoration: none;
    }
}

.nav {
    &__list {
      display: flex;
      flex-direction: column;
      background-color: white;
      list-style-type: none;
      text-transform: uppercase;
    }

    &__item {
      padding: 10px;
      text-align: center;
      
      & > a {
        color: var(--primary-color);
        font-weight: var(--font-bold);
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

.footer {
  width: 100%;
  margin-top: 3em;
  padding: 1em;
  font-weight: var(--font-bold);
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
}

.skip-link {
   position: absolute;
   top: -60px;
   left: 0;
   background-color: var(--titanium-yellow);
   color: var(--rich-black-fogra);
   padding: 20px;
   z-index: 100;

   &:focus {
    top: 0;
   }
}
 

#back-to-top {
  position: sticky;
  bottom: 5px;
  left: calc(100vw - 60px);
  background-color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

