@media(max-width: 600px) {
  .nav {
    z-index: 10;
    position: absolute;
    width: 100%;
    max-height: 0;
    opacity: 0.01;
    transition: opacity 1s, max-height 0s 1s;
  }

  .open {
    opacity: 1;
    max-height: fit-content;
    transition: opacity 1s, max-height 0s;
  }

  .header {
    &__inner {
        justify-content: space-between;
    }
  }

}

@media (min-width: 600px) {
  .header {
    &__menu {
      display: none;
    }
    &__inner {
      padding: 1rem 20px;
    }
    &__logo {
      margin-right: 1rem;
    }
  }

  .nav {
    &__list {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
    }
    &__item {
      & > a {
        font-size: var(--text-sm-md, 16px);
      }
    }
  }

  restaurant-list {
    grid-template-columns: repeat(2, 1fr);
    &__rating {
      font-size: var(--text-sm-md, 16px);
    }
    &__name {
      font-size: var(--text-lg-md, 24px);
    }
    &__description {
      font-size: var(--text-sm-md, 16px);
    } 
  }

  .hero {
    &__inner {
      padding: 20px;
      font-size: var(--text-sm-md);
    }
  }

  
}

@media(min-width: 768px) {
  restaurant-list {
    grid-template-columns: repeat(3, 1fr);
    &__name {
      font-size: var(--text-lg-lg, 26px);
    }
  }

  .hero {
    &__inner {
      max-width: 600px;
      font-size: var(--text-md-lg);
    }
  }
}

@media(min-width: 1024px) {
  .nav {
    &__list {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 20px;
    }
    &__item {
      & > a {
        font-size: 18px;
      }
    }
  }
  .content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .hero {
    &__inner {
      max-width: 750px;
      font-size: var(--text-md-lg);
    }
  }

}
