
.rounded {
  &-sm {
    border-radius: 10%;
  }
  
  &-md {
    border-radius: 50%;
  }

  &-lg {
    border-radius: 75%;
  }
  
  &-xl {
    border-radius: 90;
  }
  
  &-xxl {
    border-radius: 100;
  }

  &-full {
    border-radius: 100%;
  }
}

